.wrapper {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.side-menu {
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  @media screen and (min-width: 1280px) {
    width: 272px;
    border-right: 1px solid #ebebeb;
  }
}
.side-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1280px) {
    flex-direction: column;
    width: 272px;
    padding: 100px 0 0 80px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }
}
.side-menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 1280px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}
.side-menu__link.active {
  color: $accent-color;
}
.side-menu__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: $secondary-text-color;
  text-transform: uppercase;
  transition: $transition;
}
.side-menu__link:hover,
.side-menu__link:focus {
  color: $primary-text-color;
}
.side-menu__link:active {
  color: $accent-color;
}
.side-menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;
  transition: $transition;
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}
.side-menu__btn:hover,
.side-menu__btn:focus {
  color: $primary-text-color;
}
.hero {
  padding: 32px 0 65px;
  @media screen and (min-width: 1280px) {
    padding: 103px 95px 80px 0;
    border-bottom: 1px solid #ebebeb;
  }
}
.hero .container {
  padding: 0;
  width: 100%;
}
.hero__title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-left: 16px;
  @media screen and (min-width: 1280px) {
    font-size: 80px;
    padding-left: 96px;
    padding-bottom: 78px;
    margin-left: 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #ebebeb;
  }
}
.hero__bottom-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 16px;
  @media screen and (min-width: 1280px) {
    padding-left: 96px;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 48px;
  }
}
.form-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  @media screen and (min-width: 1280px) {
    width: calc(100vw - 272px);
    gap: 24px;
  }
}
.form-profile__group {
  padding-left: 16px;
  @media screen and (min-width: 1280px) {
    padding-left: 96px;
  }
}
.form-profile__group:last-of-type {
  padding-bottom: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  @media screen and (min-width: 1280px) {
    padding-bottom: 80px;
    margin-bottom: 56px;
  }
}
.form-profile__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: $third-text-color;
  margin-bottom: 8px;
  display: block;
  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }
}
.form-profile__input {
  cursor: url("/dist/images/cursor.svg"), auto;
  width: 100%;
  max-width: 343px;
  background-color: $input-bg;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $primary-text-color;
  padding: 16px;
  border: none;
  outline: none;
  @media screen and (min-width: 1280px) {
    width: 544px;
    max-width: 544px;
  }
}
.form-profile__input:focus-within {
  outline: 1px solid #000000;
  border: 1px solid #000000;
}
.form-profile__input:hover::placeholder {
  color: $secondary-text-color;
}
.form-profile__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $third-text-color;
}
.form-profile__btn {
  width: 100%;
  max-width: 343px;
  height: 48px;
  border-radius: 4px;
  background-color: $primary-text-color;
  color: $bg-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: $transition;
  @media screen and (min-width: 1280px) {
    width: 231px;
    max-width: 231px;
    height: 56px;
    margin-left: 96px;
  }
}
.form-profile__btn:hover,
.form-profile__btn:focus {
  background-color: $accent-color;
}
.form-profile__btn:active {
  background-color: $accent-btn-bg;
}
.gallery {
  padding-bottom: 32px;
  @media screen and (min-width: 1280px) {
    padding: 112px 0 112px 49px;
    position: relative;
  }
}
.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 32px;
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    margin-bottom: 48px;
  }
}
.accent {
  color: $accent-color;
}
.gallery__list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 32px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    gap: 32px;
  }
}
.card {
  width: 255px;
  height: 403px;
  border-radius: 8px;
  padding: 16px;
  background-color: $input-bg;
  position: relative;
  @media screen and (min-width: 1280px) {
    width: 256px;
    height: 418px;
    padding: 24px;
  }
}
.card::before {
  content: "";
  position: absolute;
  top: 255px;
  left: 0;
  width: 100%;
  height: 12px;
  display: block;
  @media screen and (min-width: 1280px) {
    top: 257px;
  }
}
.gallery__item:nth-of-type(1) .card::before {
  background-color: #c08d74;
}
.gallery__item:nth-of-type(2) .card::before {
  background-color: #ea976f;
}
.gallery__item:nth-of-type(3) .card::before {
  background-color: #c07474;
}
.gallery__item:nth-of-type(4) .card::before {
  background-color: #ea976f;
}
.gallery__item:nth-of-type(5) .card::before {
  background-color: #c08d74;
}
.card__label {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: $label-bg;
  padding: 5px 12px 5px 12px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $bg-color;
  @media screen and (min-width: 1280px) {
    top: 24px;
    left: 24px;
  }
}
.card__btn {
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24x;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon-color;
  transition: $transition;
  @media screen and (min-width: 1280px) {
    top: 24px;
    right: 24px;
  }
}
.card__btn .icon {
  fill: currentColor;
  stroke: currentColor;
  width: 24px;
  height: 24px;
}
.card__btn:hover,
.card__btn:focus {
  color: $third-text-color;
}
.card__btn:active {
  color: $accent-color;
}
.card__img {
  margin-top: -15px;
  margin-bottom: 27px;
  width: 255px;
  height: 255px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 37px;
    margin-top: -22px;
  }
}
.card__title {
  font-family: "Times New Roman";
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}
.card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin-bottom: 8px;
  color: $secondary-text-color;
}
.card__value {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin-bottom: 16px;
  color: $secondary-text-color;
  @media screen and (min-width: 1280px) {
    margin-bottom: 14px;
  }
}
.card__price {
  font-family: Times New Roman;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-align: left;
}
.card__price--line-through {
  color: $third-text-color;
  text-decoration: line-through;
  margin-left: 8px;
}
.gallery__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: $primary-text-color;
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 80px;
    top: 132px;
  }
}
.gallery__img,
.gallery__img svg {
  width: 16px;
  height: 16px;
  display: block;
}
.arrow {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
}
.backdrop-menu.is-hidden {
  display: none;
}
.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: $bg-color;
  z-index: 10;
  padding: 16px 0;
  width: 100vw;
  height: 772px;
  @media screen and (min-width: 1280px) {
    height: 1280px;
  }
}
.backdrop-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 216px;
  }
}
.backdrop-menu__close-btn {
  width: 35px;
  height: 35px;
}
.backdrop-menu__close-btn svg {
  width: 32px;
  height: 32px;
  color: currentColor;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 1280px) {
    gap: 403px;
    flex-direction: row;
    margin-left: 48px;
  }
}
.nav-menu__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
  letter-spacing: 0;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.nav-menu__link {
  color: $secondary-text-color;
  transition: $transition;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
.nav-menu__link:active {
  color: $accent-color;
}
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: $primary-text-color;
}
