$primary-text-color: #21242e;
$secondary-text-color: #21242ecc;
$third-text-color: #21242e66;
$icon-color: #e4e4e4;
$input-bg: #f7f7f7;
$bg-color: #ffffff;
$accent-color: #d0bc7a;
$accent-btn-bg: #d0bc7a80;
$label-bg: #eb5757;
$font-family-primary: "Roboto", sans-serif;
$transition: all 200ms linear;
