$primary-text-color: #21242E;
$secondary-text-color: #21242ECC;
$third-text-color: #21242E66;
$icon-color: #E4E4E4;
$input-bg: #F7F7F7;
$bg-color: #ffffff;
$accent-color: #D0BC7A;
$accent-btn-bg: #D0BC7A80;
$label-bg: #EB5757;
$font-family-primary: "Roboto", sans-serif;
$transition: all 200ms linear;
